In [1]:
import pandas as pd# pandas mei do tarha sai kaam kartey hai dataframe pr or series pr

In [2]:
from pandas import DataFrame,Series
s=Series([1,2,3,4]) #
s

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
#changing the indexing from abcd pehly by default thi ap apni marzi sai indexing karey gai

In [4]:
a=Series(s.values,index=['a','b','c','d'])
a

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
#indexing ka faida ye ha jo data ata hai usmei series nahi hoti ab ham apni marzi sai series generate karsaktey hai

In [10]:
#indexing date time kai mutabiq
dates=pd.date_range('2018-07-01','2019-07-31',freq='m')
dates

DatetimeIndex(['2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31',
               '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28',
               '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30',
               '2019-07-31'],
              dtype='datetime64[ns]', freq='M')

In [14]:
b=Series([80,82,85,90,83,87,90,32,98,18,51,23,41],index=dates)
b

2018-07-31    80
2018-08-31    82
2018-09-30    85
2018-10-31    90
2018-11-30    83
2018-12-31    87
2019-01-31    90
2019-02-28    32
2019-03-31    98
2019-04-30    18
2019-05-31    51
2019-06-30    23
2019-07-31    41
Freq: M, dtype: int64

In [16]:
b.mean()

66.15384615384616

In [24]:
b2=Series([80,82,85,100,83,87,50,32,18,18,51,23,41],index=dates)
b2

2018-07-31     80
2018-08-31     82
2018-09-30     85
2018-10-31    100
2018-11-30     83
2018-12-31     87
2019-01-31     50
2019-02-28     32
2019-03-31     18
2019-04-30     18
2019-05-31     51
2019-06-30     23
2019-07-31     41
Freq: M, dtype: int64

In [25]:
b2['2019-07-31']

41

In [26]:
bb2=DataFrame({'Midterm':b,'Finals':b2})
bb2

            Midterm  Finals
2018-07-31       80      80
2018-08-31       82      82
2018-09-30       85      85
2018-10-31       90     100
2018-11-30       83      83
2018-12-31       87      87
2019-01-31       90      50
2019-02-28       32      32
2019-03-31       98      18
2019-04-30       18      18
2019-05-31       51      51
2019-06-30       23      23
2019-07-31       41      41

In [27]:
#net sai jo data ayega frames ki haal mei ayega ya or json format mei ayega or usko bohat asani sai convert karsaktey hai pandas mei

In [28]:
#Dataframe table kai format mei ayega

In [29]:
result=DataFrame({'Midterm':b,'Finals':b2})
diff=(result.Midterm)-(result.Finals)
diff

2018-07-31     0
2018-08-31     0
2018-09-30     0
2018-10-31   -10
2018-11-30     0
2018-12-31     0
2019-01-31    40
2019-02-28     0
2019-03-31    80
2019-04-30     0
2019-05-31     0
2019-06-30     0
2019-07-31     0
Freq: M, dtype: int64

In [31]:
new=DataFrame({'Midterm':b,'Final':b2,'difference':diff})
new

            Midterm  Final  difference
2018-07-31       80     80           0
2018-08-31       82     82           0
2018-09-30       85     85           0
2018-10-31       90    100         -10
2018-11-30       83     83           0
2018-12-31       87     87           0
2019-01-31       90     50          40
2019-02-28       32     32           0
2019-03-31       98     18          80
2019-04-30       18     18           0
2019-05-31       51     51           0
2019-06-30       23     23           0
2019-07-31       41     41           0

In [35]:
new[2:7]#columns par indexing lageyi hai
#iloc sai 3 row ka data get hoaje ga

            Midterm  Final  difference
2018-09-30       85     85           0
2018-10-31       90    100         -10
2018-11-30       83     83           0
2018-12-31       87     87           0
2019-01-31       90     50          40

In [36]:
new.difference['2018-09-30':'2018-11-30']

2018-09-30     0
2018-10-31   -10
2018-11-30     0
Freq: M, Name: difference, dtype: int64

In [40]:
new

            Midterm  Final  difference
2018-07-31       80     80           0
2018-08-31       82     82           0
2018-09-30       85     85           0
2018-10-31       90    100         -10
2018-11-30       83     83           0
2018-12-31       87     87           0
2019-01-31       90     50          40
2019-02-28       32     32           0
2019-03-31       98     18          80
2019-04-30       18     18           0
2019-05-31       51     51           0
2019-06-30       23     23           0
2019-07-31       41     41           0

In [44]:
new.loc['2018-09-30']#loc mei string mei daltey hai # or usei koi bhi row get karsaktey hai

Midterm       85
Final         85
difference     0
Name: 2018-09-30 00:00:00, dtype: int64

In [45]:
new.iloc[3]#iloc mei integers mei daltey hai value

Midterm        90
Final         100
difference    -10
Name: 2018-10-31 00:00:00, dtype: int64

In [48]:
new.iloc[[5,3,1]].difference #difference kai col kai 5 3 and 1  get kie

2018-12-31     0
2018-10-31   -10
2018-08-31     0
Freq: -2M, Name: difference, dtype: int64

In [49]:
new.iloc[[5,3,1]].difference #difference kai col kai 1 3 and 5  get kie

2018-12-31     0
2018-10-31   -10
2018-08-31     0
Freq: -2M, Name: difference, dtype: int64

In [52]:
new.loc['2018-10-31'].difference #difference kai col kai 1 3 and 5  get kie #usmei

-10

In [53]:
#data mining takey app data ko chantey rehtey hai jb tk data nikal na jae jo aap kai kaam kailie hai

In [60]:
sdata={'Ohio':35000,'Texas':71000}

In [61]:
states=['Ohio','California']

In [62]:
obj4=pd.Series(sdata,index=states)
obj4

Ohio          35000.0
California        NaN
dtype: float64